@charset "utf-8";
@import "ptp-12";
/****************************************

ELEMENTS

*****************************************/

$C-BG:#f5f5f5;
$C-main:#222;
$C-mainHover:#ff0090;
$C-mainText:#CCC;
$C-mainTextHover:#000;


$C-Fast:#DDD;
$C-FastText:#000;
$C-Second:#FFF;
$C-SecondText:#000;
$C-Third:#CCC;
$C-ThirdText:#000;
$C-Price:#CC0000;
$C-IMG:#CCC;
$Navi-Column:20%;



body, h1, h2, h3, h4, h5, p, ul, ol, form, dl, dd, dt, address {margin: 0;padding: 0; font-weight:normal;}
body {
	margin: 0;
	padding: 0;
	font-family:"メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:$px12;
	line-height:1.9em;
	background:$C-BG;
	color:$C-main;
}
ul, li, dl, dd, dt{list-style:none;}
img, img a{border:0;vertical-align:bottom;}
header, footer, nav, section, article, figure, aside, ul, li, dl, dd, dt {
	display:block;
}
a{ text-decoration:none;}

.floatLeft{ float:left;}
.floatRight{ float:right;}
.Left{ text-align:left;}
.Right{ text-align:right;}
.Center{ text-align:center;}


a, a img{border:none;}


a:hover img{
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
	border:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

input[type="text"]:focus,
input[type="submit"]:focus {
  outline: 0;
  border-color:$C-mainHover;
}

ul,li{
list-style-type:none;
margin:0;
padding:0;
}

h2,h3{ clear:both;}


@mixin hoverBtn{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
		background:$C-main;
		color:$C-mainText;
			&:hover,
			&:after{
				background:$C-mainHover;
				color:$C-mainTextHover;
			}	
}


@mixin FadeBtn{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

@mixin SearchTextBox($value: 15px){
	-moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
	
	font-size:$px12;
	padding:5px;
}


/****************************************

CLEAR

*****************************************/
.clear {clear: both;font: 0pt/0pt;}

/*--clearfix--*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-block;} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/* End hide from IE-mac */


.itemskin2:after,
#Navi ul:after,
.clf:after,
.Bannerskin1 ul:after,
.CategoryList ul:after,
.slider:after {
  content: "";
  clear: both;
  display: block;
}


/****************************************

HEADER

*****************************************/

#headMenu{
	width:100%;
	height:60px;
	position:fixed;
	background:$C-main;
	color: $C-mainText;
	display: block;
	font-size: $px9;
	z-index:9999;
	.button-toggle{
		float:right;
			display:block;
			height:60px;
			width:60px;
			color: $C-mainText;
		span{
			position:relative;
			top:15px;
			left:15px;
			font-size: $px20;
		}
	}
	#Hmenu{
	width:100%;
	background:$C-main;
	color: $C-mainText;
	margin:1px 0 0;
	li{
		border-top:1px solid $C-mainText;
		a{
			@include hoverBtn;
			display:block;
			background:$C-main;
			color:$C-mainText;
			padding:5px 10px;
			span{ padding:0 5px;}
			&:hover{
				background-color:$C-mainHover;
				color:$C-mainTextHover;

			}
		}
		
	}
}
}


#headWrapper{
	width:auto;
	padding:1.5% 0;
	text-align:center;
    h1{
       margin: 0 0 10px;
	   float:left;
    }
	.cartBtn{
		float:right;
		margin:10px 10px 0 0;
		a{
			@include hoverBtn;
			background-color:$C-main;
			border-radius: 10px;
			box-shadow: 0 3px 0 rgba(136,136,136,1);
			color: $C-mainText;
			display: block;
			font-size: $px12;
			text-align: center;
			text-decoration: none;
			margin: 10px auto 30px;
			padding: 10px 20px;
			
	  &:hover{
		background-color:$C-mainHover;
		box-shadow: 0 1px 0 rgba(136,136,136,1);
		margin: 12px auto 28px;
		color:$C-mainTextHover;
		  -webkit-transition: all .3s;
		  transition: all .3s;
		text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	  }

		}
	}
}


#Navi{
	width:auto;
	clear:both;
	li a{
		@include hoverBtn;
		text-align:center;
		font-size: $px9;
		width:$Navi-Column;
		float:left;
		display:block;
		padding:15px 0 5px;
		background:$C-main;
		span{
			display:block;
			font-size: $px17;
		}
	}
}

.SearchBox{
	width:auto;
	text-align:center;
	.text, .icon_search{
		margin:15px 0;
		@include SearchTextBox;
	}
	.fontBtn{
		background:$C-main;
		color:$C-mainText;
		padding-left:15px;
		padding-right:15px;
	}
}


#Mainslider{
	.slider{
		img{
			width:100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

		}
	}
}

.itemskin1{
	.slider{
		line-height:1.4em;
		.slick-slide{
		font-size: $px9;
		padding:10px;
		img{
			width:100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin:0 0 5px;
			border:1px solid $C-IMG;
		}
		a{
		line-height:1.4em;
		color:$C-FastText;
			.plice{color:$C-Price;}
		}
		}
	}
}



h2{
	text-align:center;
	padding:10px 0;
	background:$C-Fast;
	color:$C-FastText;
	font-size: $px10;
}


h3{
	background:$C-main;
	color:$C-mainText;
	text-align:left;
	font-size: $px10;
	padding:0 0.5em;
	a{color:$C-mainText;}
}

.itemskin2{
	margin:0 0 20px;
	.itemWrapper{
		font-size: $px9;
		line-height:1.4em;
		background:$C-Second;
		color:$C-SecondText;
		border-bottom: dotted #DDD 1px;
			a{ 
			display:table;
			width:100%;
			padding: 10px 0px 10px 0px;
			& > *{
			display:table-cell;
			vertical-align: middle;
			position: relative;
			padding: 0px 25px 0px 10px;
			color: #000;
			font-weight: bold;
			text-decoration: none;
				&:after {
				display: block;
				position: absolute;
				top: 50%;
				right: 10px;
				width: 7px;
				height: 7px;
				margin-top: -4px;
				border-top: solid 2px $C-main;
				border-right: solid 2px $C-main;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				content: "";
				}
			}
  			}
			.textBox{
				width:auto;
			}
			.photo{
				float:left;
				height:70px;
			}
			.plice{
				display:block;
				padding:5px 0 0;
				margin:5px 0 0;
				border-top: dotted #DDD 1px;
				color:$C-Price;
				font-weight:bold;
			}
	}
}


.Bannerskin1{
	ul{
		width:90%;
		margin:10px auto 20px;
		
   		li{
			float:left;
			width:48%;
			padding:1%;
			a{
			
			img{ width:100%;}
			}
		}

	}
	
}

.CategoryList{
		background:#FFF;
	ul{
		font-size: $px9;
		width:auto;
		margin:0 0 20px;

   		li{
			float:left;
			width:50%;
			text-align:center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-bottom: solid #DDD 1px;
			&:nth-child(odd){ border-right: solid #DDD 1px;}
			a{
				@include FadeBtn;
				display:block;
				height:100%;
				width:100%;
				padding:5% 0;
				background:$C-Second;
				color:$C-SecondText;
				
				&:hover{ 
				background-color:$C-Third;
				color:$C-ThirdText;
				}
			}
		}

	}
	
}

.InformationWrapper{
	background:#CCC;
	padding:15px;

	
	li{
		font-size: $px9;
		background:#FFF;
			a{ 
			margin:0 0 5px;
			color:$C-SecondText;

			display:table;
			width:100%;
			padding: 5px 0px 5px 5px;
			& > *{
			display:table-cell;
			vertical-align: middle;
			position: relative;
			padding: 0px 25px 0px 10px;
			color: #000;
			font-weight: bold;
			text-decoration: none;
				&:after {
				display: block;
				position: absolute;
				top: 50%;
				right: 10px;
				width: 7px;
				height: 7px;
				margin-top: -4px;
				border-top: solid 2px $C-main;
				border-right: solid 2px $C-main;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				content: "";
				}
			}
		}
	}
	.mailmagazine{
		background:#FFF;
		padding:10px;
		text-align:center;
		p{	font-size: $px9;}
			.text, .icon_mail_alt{
				margin:15px 0;
				@include SearchTextBox;
			}
			.fontBtn{
				background:$C-main;
				color:$C-mainText;
				padding-left:15px;
				padding-right:15px;
			}

	}
}

.Change{
	ul{
		margin:15px 0;
		width: 100%;  
		display: -webkit-box;
		display: -moz-box;
		text-align:center;
		font-size: $px9;
		li{
			padding:5px 0;
			&:nth-child(1n){ width:10%;}
			&:nth-child(2n),
			&:nth-child(3n){
				width:43%;
				padding-left:2px;
				padding-right:2px;
				a{
					display:block;
					text-align:center;
					background:$C-Third;
					color:$C-ThirdText;
				}
			}
		}
	}
	
}

#copy p{ font-size: $px9; text-align:center; color: $C-FastText; padding:15px 0;}

.itembutton a {
  width: 80%;
  background-color:$C-main;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(136,136,136,1);
  color: $C-mainText;
  display: block;
  font-size: $px9;
  text-align: center;
  text-decoration: none;
  margin: 10px auto 30px;
  padding: 10px 0;
  span{ padding-left:0.5em;}
	  &:hover{
		background-color:$C-mainHover;
		box-shadow: 0 1px 0 rgba(136,136,136,1);
		margin: 12px auto 28px;
		color:$C-mainTextHover;
		  -webkit-transition: all .3s;
		  transition: all .3s;
		text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	  }
}

#page-top{
	@include FadeBtn;
	font-size: $px20;
	position:fixed;
	height:60px;
	width:60px;
	bottom:0;
	right:0;
  background-color:$C-main;
  color: $C-mainText;
	  &:hover{
		background-color:$C-mainHover;
		color:$C-mainTextHover;
	  }
	  span{
		  position:relative;
		  top:15px;
		  left:15px;
	}
}


