@charset "UTF-8";
/* var base = 12;
var to = 72;
for (var i = 10; i<=to; i++) {
	var p = Math.ceil(i/base*100);
	console.log("$px"+i+":"+p+"%;");
} */
/****************************************

ELEMENTS

*****************************************/
/* line 28, main.scss */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* var base = 12;
var to = 72;
for (var i = 10; i<=to; i++) {
	var p = Math.ceil(i/base*100);
	console.log("$px"+i+":"+p+"%;");
} */
/****************************************

CONTENT

*****************************************/
h1 {
  width: 40%;
}
h1 img {
  width: 100%;
}

h2, h3 {
  clear: both;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before,
.slick-prev:before,
.slick-next:before {
  color: #999;
}

/****************************************

CLEAR

*****************************************/
.itemskin2:after,
#Navi ul:after,
.clf:after,
.Bannerskin1 ul:after,
.CategoryList ul:after,
.slider:after {
  content: "";
  clear: both;
  display: block;
}

/****************************************

HEADER

*****************************************/
#headMenu {
  background: #222222;
  color: #CCC;
  width: 100%;
  position: fixed;
  display: block;
  font-size: 100%;
  z-index: 9999;
}
#headMenu .SearchBox {
  padding: 25px 0;
}
#headMenu .button-toggle {
  float: right;
  display: block;
  height: 120px;
  width: 120px;
}
#headMenu .button-toggle span {
  position: relative;
  top: 25px;
  left: 10px;
  font-size: 217%;
}
#headMenu #Hmenu {
  width: 100%;
  margin: 1px 0 0;
}
#headMenu #Hmenu li {
  border-top: 1px solid #CCC;
}
#headMenu #Hmenu li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #222222;
  color: #CCC;
  display: block;
  padding: 15px 10px;
}
#headMenu #Hmenu li a:hover, #headMenu #Hmenu li a:after {
  background: #ff0090;
  color: #000;
}
#headMenu #Hmenu li a span {
  padding: 0 10px;
}

#headWrapper {
  width: auto;
  padding: 1.5% 0;
  text-align: center;
}
#headWrapper h1 {
  margin: 0 0 10px;
  float: left;
}
#headWrapper .cartBtn {
  float: right;
  margin: 10px 10px 0 0;
}
#headWrapper .cartBtn a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background-color: #999;
  box-shadow: 0 3px 0 #888888;
  border-radius: 10px;
  display: block;
  font-size: 184%;
  text-align: center;
  text-decoration: none;
  margin: 10px auto 30px;
  padding: 10px 40px;
}
#headWrapper .cartBtn a:hover {
  color: #000;
  background-color: #ff0090;
  box-shadow: 0 1px 0 #888888;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  margin: 12px auto 28px;
}

#Navi {
  width: auto;
  clear: both;
}
#Navi li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #222222;
  color: #CCC;
  text-align: center;
  font-size: 77%;
  width: 20%;
  float: left;
  display: block;
  padding: 15px 0 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
}
#Navi li a:hover, #Navi li a:after {
  background: #ff0090;
  color: #000;
}
#Navi li a span {
  display: block;
  font-size: 142%;
}

.SearchBox {
  width: auto;
  text-align: center;
}
.SearchBox .text, .SearchBox .icon_search {
  margin: 15px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 100%;
  padding: 5px;
}
.SearchBox .fontBtn {
  background: #222222;
  color: #CCC;
  padding-left: 15px;
  padding-right: 15px;
}

#Mainslider .slider {
  width: 100%;
}
#Mainslider .slider img {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.itemskin1 {
  width: 98%;
  margin: 0 auto;
}
.itemskin1 a {
  color: #222222;
}
.itemskin1 .multiple-items {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.itemskin1 .multiple-items .slick-prev {
  left: -0%;
}
.itemskin1 .multiple-items [dir='rtl'] .slick-prev {
  right: -0%;
  left: auto;
}
.itemskin1 .multiple-items .slick-next {
  right: -0%;
}
.itemskin1 .multiple-items [dir='rtl'] .slick-next {
  right: auto;
  left: -0%;
}
.itemskin1 .slider {
  line-height: 1.4em;
  font-size: 77%;
}
.itemskin1 .slider img {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 5px;
  border: 1px solid #CCC;
}
.itemskin1 .slider a {
  line-height: 1.4em;
  color: #999;
  display: block;
  padding: 3%;
}
.itemskin1 .slider a .plice {
  color: #CC0000;
}

h2 {
  background: #DDD;
  color: #000;
  text-align: center;
  padding: 10px 0;
  font-size: 84%;
}

h3 {
  background: #222222;
  color: #CCC;
  text-align: left;
  font-size: 84%;
  padding: 0 1em !important;
}
h3 a {
  background: #222222;
  color: #CCC;
}
h3 a:visited {
  background: #222222;
  color: #CCC;
}

.itemskin3 ul {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4em;
  font-size: 77%;
}
.itemskin3 ul li {
  width: 30%;
  margin: 1.5% 1.5%;
  float: left;
}
.itemskin3 ul li img {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 5px;
  border: 1px solid #CCC;
}
.itemskin3 ul li a {
  line-height: 1.4em;
  color: #999;
}
.itemskin3 ul li a .plice {
  color: #CC0000;
}

.itemskin2 {
  margin: 0 0 20px;
}
.itemskin2 .itemWrapper {
  font-size: 77%;
  line-height: 1.4em;
  color: #666666;
  border-bottom: dotted #DDD 1px;
}
.itemskin2 .itemWrapper a {
  display: table;
  width: 100%;
  padding: 5% 0 5% 0;
  color: #666666;
}
.itemskin2 .itemWrapper a > * {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0px 10% 0px 5%;
  font-weight: bold;
  text-decoration: none;
}
.itemskin2 .itemWrapper a > *:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 30px;
  height: 30px;
  margin-top: -4px;
  border-top: solid 2px #222222;
  border-right: solid 2px #222222;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}
.itemskin2 .itemWrapper .textBox {
  width: auto;
}
.itemskin2 .itemWrapper .photo {
  float: left;
  height: 200px;
}
.itemskin2 .itemWrapper .plice {
  display: block;
  padding: 5px 0 0;
  margin: 5px 0 0;
  border-top: dotted #DDD 1px;
  color: #CC0000;
  font-weight: bold;
}

.Bannerskin1 ul {
  width: 90%;
  margin: 10px auto 20px;
}
.Bannerskin1 ul li {
  float: left;
  width: 48%;
  padding: 1%;
}
.Bannerskin1 ul li a img {
  width: 100%;
}

.CategoryList {
  background: #FFF;
}
.CategoryList ul {
  font-size: 77%;
  width: auto;
  margin: 0 0 20px;
}
.CategoryList ul li {
  float: left;
  width: 50%;
  text-align: left;
  text-indent: 1em !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid #DDD 1px;
}
.CategoryList ul li:nth-child(odd) {
  border-right: solid #DDD 1px;
}
.CategoryList ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  height: 100%;
  width: 100%;
  padding: 5% 0;
  background: #FFF;
  color: #000;
}
.CategoryList ul li a:hover {
  background-color: #CCC;
  color: #000;
}

.InformationWrapper {
  background: #CCC;
  padding: 15px;
}
.InformationWrapper li {
  font-size: 77%;
  background: #FFF;
  text-indent: 1em !important;
}
.InformationWrapper li a {
  margin: 0 0 5px;
  color: #666666;
  display: table;
  width: 100%;
  padding: 5px 0px 5px 5px;
}
.InformationWrapper li a > * {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0px 25px 0px 10px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.InformationWrapper li a > *:after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  border-top: solid 2px #222222;
  border-right: solid 2px #222222;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}
.InformationWrapper .mailmagazine {
  background: #FFF;
  padding: 10% 5%;
  text-align: center;
}
.InformationWrapper .mailmagazine p {
  font-size: 77%;
}
.InformationWrapper .mailmagazine .text, .InformationWrapper .mailmagazine .icon_mail_alt {
  margin: 15px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 100%;
  padding: 5px;
}
.InformationWrapper .mailmagazine .fontBtn {
  background: #222222;
  color: #CCC;
  padding-left: 15px;
  padding-right: 15px;
}

.Change ul {
  margin: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  text-align: center;
  font-size: 77%;
}
.Change ul li {
  padding: 5px 0;
}
.Change ul li:nth-child(1n) {
  width: 10%;
}
.Change ul li:nth-child(2n), .Change ul li:nth-child(3n) {
  width: 43%;
  padding-left: 2px;
  padding-right: 2px;
}
.Change ul li:nth-child(2n) a, .Change ul li:nth-child(3n) a {
  border-radius: 10px;
  display: block;
  text-align: center;
  background: #CCC;
  color: #000;
}
.Change ul li:nth-child(2n) a span, .Change ul li:nth-child(3n) a span {
  padding: 0 2% 0 0;
}

#copy p {
  font-size: 77%;
  text-align: center;
  color: #999;
  padding: 15px 0;
}

.itembutton a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #999;
  color: #222222;
  display: block;
  font-size: 77%;
  text-align: right;
  text-decoration: none;
  margin: 10px auto 30px;
  padding: 10px;
}
.itembutton a span {
  padding-left: 1em;
}
.itembutton a:hover {
  color: #ff0090;
}

/****************************************

ELEMENTS

*****************************************/
body, h1, h2, h3, h4, h5, p, ul, ol, form, dl, dd, dt, address {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 250%;
  line-height: 1.9em;
  background: whitesmoke;
  color: #666666;
}

ul, li, dl, dd, dt {
  list-style: none;
}

img, img a {
  border: 0;
  vertical-align: bottom;
}

header, footer, nav, section, article, figure, aside, ul, li, dl, dd, dt {
  display: block;
}

a {
  text-decoration: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.Center {
  text-align: center;
}

a, a img {
  border: none;
}

a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0;
}

input[type="text"]:focus,
input[type="submit"]:focus {
  outline: 0;
  border-color: #222222;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/****************************************

CLEAR

*****************************************/
.clear {
  clear: both;
  font: 0pt/0pt;
}

/*--clearfix--*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
#page-top {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  position: fixed;
  height: 120px;
  width: 120px;
  bottom: 0;
  right: 0;
}
#page-top:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
#page-top span {
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 217%;
}
