<header>
    <div class="logo"><img src="common/images/logo_pitatto.png" width="76" height="17" alt="PITATTO"></div>
    <div class="btn_help overlay_close"><a href="#"><img src="common/images/ico_help.png" width="21" height="21" alt="ヘルプ"></a></div>
    <nav>
        <ul class="m_menu">
            <li class="h_cat01"><a href=""><span class="m_name">マイページ編集</span></a></li>
            <li class="h_cat02"><a href=""><span class="m_name">マイイベント</span></a></li>
            <li class="h_cat03"><a href=""><span class="m_name">イベントリクエスト</span></a></li>
        </ul>
        <ul class="m_menu">
            <li class="h_cat04"><a href=""><span class="m_name">会員ステータス</span></a></li>
            <li class="h_cat05"><a href=""><span class="m_name">友達更新</span></a></li>
            <li class="h_cat06"><a href=""><span class="m_name">FAQ</span></a></li>
        </ul>
        <ul class="s_menu">
            <li><a href="">お問い合わせ</a></li>
            <li><a href="">会社概要</a></li>
            <li><a href="">利用規約</a></li>
            <li><a href="">プライバシーポリシー</a></li>
            <li><a href="">特定商取引法に基づく表示</a></li>
            <li><a href="">インターネット異性紹介事業</a></li>
        </ul>
    </nav>
</header>