 /* var base = 12;
 var to = 72;
 for (var i = 10; i<=to; i++) {
 	var p = Math.ceil(i/base*100);
 	console.log("$px"+i+":"+p+"%;");
 } */

$px8:69%;
$px9:77%;
$px10:84%;
$px11:92%;
$px12:100%;
$px13:109%;
$px14:117%;
$px15:125%;
$px16:134%;
$px17:142%;
$px18:150%;
$px19:159%;
$px20:167%;
$px21:175%;
$px22:184%;
$px23:192%;
$px24:200%;
$px25:209%;
$px26:217%;
$px27:225%;
$px28:234%;
$px29:242%;
$px30:250%;
$px31:259%;
$px32:267%;
$px33:275%;
$px34:284%;
$px35:292%;
$px36:300%;
$px37:309%;
$px38:317%;
$px39:325%;
$px40:334%;
$px41:342%;
$px42:350%;
$px43:359%;
$px44:367%;
$px45:375%;
$px46:384%;
$px47:392%;
$px48:400%;
$px49:409%;
$px50:417%;
$px51:425%;
$px52:434%;
$px53:442%;
$px54:450%;
$px55:459%;
$px56:467%;
$px57:475%;
$px58:484%;
$px59:492%;
$px60:500%;
$px61:509%;
$px62:517%;
$px63:525%;
$px64:534%;
$px65:542%;
$px66:550%;
$px67:559%;
$px68:567%;
$px69:575%;
$px70:584%;
$px71:592%;
$px72:600%;